header{
	background-color: #5775D0;
	height: 75px;
	width:100%;
}

.img_box{
	width:50px;
	height:50px;
	&>a{
			&>img{
		width:100%;
		height:100%;
	}
	}

}
.header_main{
	padding-top: 12.5px;
	width:100%;
}
.account_box{
	display: flex;
	justify-content: flex-end;
	vertical-align: center;
}
.sign_in{
	padding:5px;
	border:1px solid #fff;
	border-radius: 5px;
	color:#fff;
	background-color:  #5775D0;
}
.sign_up{
	margin-left: 10px;
	padding:5px;
	background-color: #fff;
	border-radius: 5px;
}
.sign-in_box_main{
margin-top: 7px;
}
.account_customization{
	padding:0px;
	background-color: #5775D0;
	>img{
		width:40px;
		height:40px;
	}
}
.account_exit{
	margin-top: 2px;
	margin-left: 10px;
	height: 100%;
	padding:4px;
	border:1px solid #fff;
	border-radius: 5px;
	color:#fff;
	font-weight: 700;
}
.account_exit{
	cursor:pointer;
	>a{
		text-decoration: none;
	}
}
a{
	text-decoration: none;
}
.account_customization{
	cursor:pointer;
}
.img_box{
	cursor:pointer;
}