.menu_task_box{
	margin-top:20px;
	margin-left:20px;
}
.filter{
	background-color: #F0F2F5;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	padding: 5px;
	border:1px solid black;
	margin-top:10px;
	cursor: pointer;
}